  <div id="about">
    <h1> About me </h1>
  </div>
    <div class="user-details">
      <!-- <p> {{site.user_description}} </p> 
      
       <div class="contents-right-profile">
        <div class="images-right-profile">
          <img alt="profile" src="{{ " /assets/img/pfp-lespam.jpg" | prepend: site.baseurl }}" />
        </div>
      </div> -->
  
    <div>
      <h2>Leslie: <br> Developer and Activist 🌈</h2>
      <p>Hi, I'm Leslie, a software developer and a social justice advocate. This is my story of how I found my purpose
        as a person and a professional.</p>

      <h3>My Journey 🚀</h2>
      <p>I started as a computer engineer who loved technology and wanted to help people. I dreamed of creating amazing
        products that would make the world a better place. But it wasn't easy. I faced many challenges and obstacles
        along the way.</p>

      <p>Through life I have experienced bad UX and bad quality that made the products confusing, unusable or defective. 😢
        <br> None of these things were the users fault. They were the fault of the people who created them. 🚨
      </p>
  
      <p>
        <br> I had to deal with people who couldn't communicate effectively.
        <br> I had to deal with people who forgot about human interactions. 
        <br> I had to deal with people who wasted their talent and work, spending time and money on things that didn't focused on the users.
      </p>

      <p>So, I didn't give up. I decided to learn everything I could about humans, psychology, sofware and design principles. 🧠
        I decided to change my perspective and see problems as opportunities to solve. I decided to ensure actions that enable
        systems where people can communicate securely and efficiently. 🔐 
        <br>I decided to push for a digital transformation that makes people more engaged and happy. That's how I became a QA Engineer. 😊</p>

      <h2>My Skills 💻</h2>
      <p>I learned how to code in Java but I feel more comfortable using Python as well as other programming tools such as shell programming Linux and PowerShell.
        <br> I've became a UX guru that has worked on various projects for different companies, websites, software and technology where I helped improve the quality, functionality, and reliability of their products and services. 💯🚀</p>

      <h2>My Projects 📚</h2>
      <p>One of the projects that I'm most proud of is Cara a Cara, an installation that uses facial recognition
        technology to create an exercise of memory and awareness about the disappearance in Mexico. It identifies
        similarities between the face of the person who experiences the installation and the faces of thousands of
        people who have disappeared in Mexico. 😢 We wanted to preserve and promote the memory and dignity of these
        people, as well as raise awareness and empathy among the public. 💖</p>

      <p><a href="https://www.datalabitam.org/blog/cara-a-cara/">Check out Cara a Cara project.</a></p>

      <p>Another project that I really enjoyed working on was Justicia Transparente, a tool that analyzes and visualizes
        the sentences issued by the Supreme Court of Justice of Mexico. 🇲🇽 It uses Python and Selenium to extract relevant information from the sentences, such as the topics, actors and
        arguments. 🧠 It also allows users to explore and compare the sentences according to
        different criteria, such as date, chamber, minister, or type of case. 📊 We wanted to improve the transparency
        and accountability of the judicial system in Mexico, as well as foster civic engagement and education. The project created an initial methodology with one of 32 states. 👏</p>

      <p><a href="https://datalabitam.github.io/justicia-transparente/">Check out Justicia Transparente project.</a></p>

      <h2>My Life 💕</h2>
      <p>I met my partner on a Discord server about economics where we talked about gender and social justice. 💖 We fell in love and got married. 💍 I moved and
        we live in the US with our dog Timea. 🐶 We work from home together and enjoy playing Overwatch 2. 🖥️</p>

      <h2>My Mission 🌟</h2>
      <p>As an engineer I have helped many people with my technology and skills. 💪 I made the world a better place for everyone with quality assurance, UX, and accessible communication. ✨ 
        I used empathy and active listening to understand the needs of the people involved in my projects, and I designed technology solutions that met those needs. It took me a lot of hard work, perseverance, and luck. 😅 But it was also fun. And rewarding.</p>
        
      <p>As a college student, I engaged in several student activities and clubs. I earned a BS. in Computer Engineering and met a lot of cool people. </p>
      <p>I advocate on the topics of diversity and inclusion, women issues, inequality, public health, and animal welfare. </p>

      <p>Technology is my way of connecting with people and making a difference in their lives. Do you want to work with me? Do you need help with your software development or quality assurance needs? Do you
        want to learn more about my skills or projects? Do you want to chat with me about anything?</p>

      <p>I'm available for hire as a freelance software developer or QA consultant. 👩‍💻 I can help you with web
        development, data analysis, user experience design, testing tools and more.</p>

      <p>I'm also available for speaking engagements or interviews on topics such as software development, quality
        assurance, neurodiversity advocacy, and social justice activism.</p>

      <h2>My Contact 📧</h2>
      <p>If you're interested in any of these things or just want to say hi, please feel free to contact me via
        <a href="https://www.linkedin.com/in/lespam"> LinkedIn <i class="devicon-linkedin-plain colored"></i></a>.</p>

      <p>I would love to hear from you and learn more about you.</p>

      <p>Let's work together to make the world a better place with quality, UX, and good products.</p>

      <p>I look forward to hearing from you soon.</p>
    </div>

  <div class="user">
    <div class="tech">
      <h2>Quality <br> Assurance</h2>
      <h3> Testing</h3>
      <i class="devicon-selenium-original colored"></i>
     <!--  <i class="devicon-apple-original"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-pytest-plain-wordmark colored"></i> -->
    </div>
    <div class="tech">
      <h2>Accessibility Technology</h2>
      <h3> Compliance</h3>

      <i class="fa fa-universal-access" aria-hidden="true"></i>
      <!-- <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-ie10-original colored"></i> -->
    </div>
    <div class="tech">
      <h2>Software Development</h2>
      <h3> Programming</h3>

      <i class="devicon-python-plain-wordmark colored"></i>
      <!-- <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i> -->
    </div>
  </div>

