  <div id="about">
    <h1> About me </h1>
  </div>
    <div class="user-details">
      <!-- <p> {{site.user_description}} </p> -->
      <div class="contents-right-profile">
        <div class="images-right-profile">
          <img alt="profile" src="{{ " /assets/img/pfp-lespam.jpg" | prepend: site.baseurl }}" />
        </div>
      </div>
  
    <div>
      <h2>Leslie Brenes: <br> Developer and Neurodiversity Advocate 🌈</h1>
      <p>Hi, I'm Leslie Brenes, a software developer and a neurodiversity advocate. This is my story of how I learned
        and grew as a person and a professional.</p>

      <h3>My Journey 🚀</h2>
      <p>I started as a QA engineer who loved technology and wanted to help people. I dreamed of creating amazing
        products that would make the world a better place. But it wasn't easy. I faced many challenges and obstacles
        along the way.</p>

      <p>I had to deal with bad UX and no QA that made all the products unusable or defective. 😢 I had to deal with
        people who couldn't understand each other or communicate effectively. 😕 I had to deal with people who were
        always connected to their devices and forgot about human interactions. 😐 I had to deal with people who wasted
        their talent and potential, spending time and money on things that didn't matter. 😒</p>

      <p>But I didn't give up. I decided to learn everything I could about humans, psychology, and design principles. 🧠
        I decided to change my perspective and see problems as opportunities to solve. 🧐 I decided to ensure that there
        was a system where people could communicate securely and efficiently. 🔐 I decided to create a digital
        transformation that would make people more engaged and happy. 😊</p>

      <h2>My Skills 💻</h2>
      <p>I learned how to code in Python, shell programming Linux and PowerShell, SQL, Java, Blockchain, network
        protocols, user experience, and more. 🙌 I worked on various projects for different companies, websites, and
        software. 🚀 I helped improve the quality, functionality, and reliability of their products and services. 💯</p>

      <h2>My Projects 📚</h2>
      <p>One of the projects that I'm most proud of is Cara a Cara, an installation that uses facial recognition
        technology to create an exercise of memory and awareness about the disappearance in Mexico. 🇲🇽 It identifies
        similarities between the face of the person who experiences the installation and the faces of thousands of
        people who have disappeared in Mexico. 😢 We wanted to preserve and promote the memory and dignity of these
        people, as well as raise awareness and empathy among the public. 💖</p>

      <p><a href="https://www.datalabitam.org/blog/cara-a-cara/">Check out Cara a Cara here</a></p>

      <p>Another project that I really enjoyed working on was Justicia Transparente, a tool that analyzes and visualizes
        the sentences issued by the Supreme Court of Justice of Mexico. 🇲🇽 It uses natural language processing and
        machine learning techniques to extract relevant information from the sentences, such as the topics, actors,
        arguments, and votes involved. 🧠 It also allows users to explore and compare the sentences according to
        different criteria, such as date, chamber, minister, or type of case. 📊 We wanted to improve the transparency
        and accountability of the judicial system in Mexico, as well as foster civic engagement and education. 👏</p>

      <p><a href="https://datalabitam.github.io/justicia-transparente/">Check out Justicia Transparente here</a></p>

      <h2>My Life 💕</h2>
      <p>I also met my husband on a Discord server about economics. His name was thesmeagol and he was from the US. 🇺🇸
        He helped me achieve my goals by coaching and being loyal. 💖 We fell in love and got married. 💍 We moved to
        the US with our dog Timea. 🐶 We worked from home together and enjoyed our life. 😍</p>

      <h2>My Mission 🌟</h2>
      <p>Now I'm a software developer and a neurodiversity advocate. 🌈 I fulfilled my dream and helped many people with
        my technology and skills. 💪 I made the world a better place for everyone with quality,
        UX,
        and good products. ✨</p>

      <p>How did I do it? Well, it wasn't easy. It took me a lot of hard work, perseverance, and luck. 😅 But it was
        also fun. And rewarding. And sometimes hilarious.</p>

      <p>Like the time when I accidentally deleted the entire database of a project that I was working on. 😱 Or the
        time when I deleted the main branch of our economics discord bot and wrote some gibberish code that made no
        sense. 😂 Or the time when I met thesmeagol online and thought he was a troll because he had such a weird name.
        😜</p>

      <p>But hey, that's life. You never know what's going to happen next. You just have to be ready for anything. And
        learn from your mistakes. And laugh at yourself sometimes.</p>

      <h2>My Offer 👋</h2>
      <p>That's my story of how I learned and grew as a person and a professional.</p>

      <p>Do you want to work with me? Do you need help with your software development or quality assurance needs? Do you
        want to learn more about my skills or projects? Do you want to chat with me about anything?</p>

      <p>If you answered yes to any of these questions, then you're in luck.</p>

      <p>I'm available for hire as a freelance software developer or QA consultant. 👩‍💻 I can help you with web
        development, data analysis, user experience design, testing tools and frameworks, security protocols, blockchain
        technology, network protocols,
        and more.</p>

      <p>I'm also available for speaking engagements or interviews on topics such as software development, quality
        assurance, neurodiversity advocacy, social justice activism, and culture preservation, online education
        platforms, and more.</p>

      <p>I'm also available for just hanging out online or offline (if you're nearby) and having fun conversations about
        anything you like, I enjoy the geek talk.</p>

      <h2>My Contact 📧</h2>
      <p>If you're interested in any of these things or just want to say hi, please feel free to contact me via
        <a href="https://www.linkedin.com/in/lespam"> LinkedIn <i class="devicon-linkedin-plain colored"></i></a>.</p>

      <p>I would love to hear from you and learn more about you.</p>

      <p>Let's work together to make the world a better place with quality, UX, and good products.</p>

      <p>I look forward to hearing from you soon.</p>
    </div>

  <div class="user">
    <div class="tech">
      <h2>Quality Assurance</h2>

      <i class="devicon-selenium-original colored"></i>
      <i class="devicon-apple-original"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-pytest-plain-wordmark colored"></i>
      <p> </p>
    </div>
    <div class="tech">
      <h2>Accessibility Technology</h2>

      <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="fa fa-universal-access" aria-hidden="true"></i>
      <i class="devicon-ie10-original colored"></i>
      <p> </p>
    </div>
    <div class="tech">
      <h2>Software Development</h2>

      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p> </p>
    </div>
  </div>

