<div>
  <h1> About me </h1>
</div>
<div class="user-details">
  <p> {{site.user_description}} </p>
  <!--
       <div class="contents-right-profile">
        <div class="images-right-profile">
          <img alt="profile" src="{{ " /assets/img/pfp-lespam.jpg" | prepend: site.baseurl }}" />
        </div>
      </div> -->

  <div>
    <p>Hi, I'm Leslie, a software developer, QA Tester Engineer and a social justice advocate.</p>

    <p>I started as a computer engineer who loved technology and wanted to help people. I dreamed of creating amazing
      products that would make the world a better place. Through life I have experienced bad UX and bad quality that
      makes products confusing, unusable or defective. 😢
      <br> None of these things are the users fault. 🚨
    </p>
    <p> A also lead a 2k+ members online community. I'm a past contributor to <a href="https://llave.cdmx.gob.mx/">Llave
        CDMX</a>, a platform that serves over 1.6M citizens
      monthly, <a href="https://www.freshly.com/">Freshly</a>, a service that delivers over <a
        href="https://www.nestle.com/media/pressreleases/allpressreleases/nestle-usa-acquires-freshly">1M meals
        weekly</a>, and Mutuo, a fintech startup that <a
        href="https://news.yahoo.com/mutuo-financiera-closes-usd-100-084400537.html">secured over 100M in financing</a>.

      <br> Motivated by the mission to deliver successful experiences with the skills to conduct defect logging,
      tracking, and reporting. I have worked under little supervision maintaining software applications and writing
      documentation. My experience with
      bug detection involved my ability to troubleshoot complex technical problems and communicate effectively.
    </p>

    <h2>My Life 💕</h2>
    <p>I met my partner on a Discord server about economics where we talked about gender and social justice. 💖 We fell
      in love and got married. 💍 I moved and
      we live in the US with our dog Timea. 🐶 We work from home together and enjoy playing Overwatch 2. 🖥️</p>

  </div>
</div>