<!-- BODY -->
<div id="particles-js-nav">
  <div class="navigation-bar">


    <nav class="navbar">

      <!-- LOGO -->

      <div class="logo"> {{ site.username }} </div>

      <!-- NAVIGATION MENU -->

      <ul class="nav-links">

        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle" />

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">

          <li><a href="/">Inicio</a></li>

          <li><a href="/">Sobre mí</a></li>

          <li class="services">
            
            <a href="/help">Servicios</a>

            <!-- DROPDOWN MENU -->

            <ul class="dropdown">

              <li><a href="/">SQA</a></li>

              <li><a href="/">Excel consultation</a></li>

              <li><a href="/">Webdev</a></li>

              <li><a href="/">Dropdown 3</a></li>

              <li><a href="/">Dropdown 4</a></li>

            </ul>

          </li>

          <li><a href="/">Pricing</a></li>

          <li><a href="/">Contacto</a></li>

        </div>

      </ul>

    </nav>
  </div>
</div>

<div>

Oh, like when they say "poofter" to mean "tourist", yes. Actually, that was a box of Oscar's legally obtained medical marijuana. Primo bud. Real sticky weed. ♪♪ Somewhere… over the rainbow… there's another rainbow… ♪♪ And I am rock steady. No more dizzies. It's ok. You be with Yam. Chaw-chee, chaw-chee chaw-chee! Coo coo ca cha! Ah coodle doodle do Caw ca caw, caw ca caw. Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror.

I prematurely shot my wad on what was supposed to be a dry run, so now I'm afraid I have something of a mess on my hands. What's gotten into you? Have you been eating cheese? Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. And I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Go ahead, touch the cornballer. It's ok. You be with Yam.

I just don't want him to point out my cracker ass in front of Ann. Heyyyy Uncle Father Oscar. Everybody dance… NOW. You're losing blood, aren't you? Gob: Probably, my socks are wet. Waiting for the Emmys. BTW did you know won 6 Emmys and was still canceled early by Fox? COME ON. What about macaroni – let me finish – salad?

I don't care if it takes from now till the end of Shrimpfest. Michael was concerned that he was caught in a lie about his family. The family was concerned that they were being confronted by a woman they had clubbed, drugged, and left on a bench.

Steve Holt? The moron jock? One of the guys told me to take my head out of my BOTTOM and get back to work…my BOTTOM! Hahahaha. You just grab that brownish area by its points and you don't let go no matter what your mother tells you! Hey, Dad. Look at you. You're a year older…and a year closer to death. Buster: Oh yeah, I guess that's kind of funny.

For there's a man inside me, and only when he's finally out, can I walk free of pain. Annhog's coming? ♪♪ It ain't easy being white… ♪♪ If you don't start pulling your weight around here its going to be shape up, or…ship up. Perhaps an attic shall I seek. I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly away from your feelings? Dead Dove DO NOT EAT. You might wanna lean away from that fire since you're soaked in alcohol.

What about macaroni – let me finish – salad? I've made a huge tiny mistake. I made a huge tiny mistake. Perhaps an attic shall I seek. I should be in this Poof.

I was hoping he would be gifted sexually. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. Happy. It's a wonderful restaurant! Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Teamocil.

Got a big ass room at the travelodge. What a fun, sexy time for you. [Stabbing Gob] White power! Gob: I'm white! This is not what it looks like. It looks like you're tweaking her nipples through a chain-link fence. Mister gay is bleeding! Mister gay! I should be in this Poof. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.

Coo coo ca chaw. Coo coo ca chaw. Coo coo ca chaw. I'll have a vodka rocks. (Mom, it's breakfast time.) And a piece of toast. Let me take off my assistant's skirt and put on my Barbra-Streisand-in-The-Prince-of-Tides ass-masking therapist pantsuit. Are you aware of this? Coming soon. Indeed. Oh, hi, Mom. I have the afternoon free. Really? Did "nothing" cancel? Bob Loblaw Lobs Law Bomb. Annyong.


Oh, like when they say "poofter" to mean "tourist", yes. Actually, that was a box of Oscar's legally obtained medical marijuana. Primo bud. Real sticky weed. ♪♪ Somewhere… over the rainbow… there's another rainbow… ♪♪ And I am rock steady. No more dizzies. It's ok. You be with Yam. Chaw-chee, chaw-chee chaw-chee! Coo coo ca cha! Ah coodle doodle do Caw ca caw, caw ca caw. Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror.

I prematurely shot my wad on what was supposed to be a dry run, so now I'm afraid I have something of a mess on my hands. What's gotten into you? Have you been eating cheese? Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. And I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Go ahead, touch the cornballer. It's ok. You be with Yam.

I just don't want him to point out my cracker ass in front of Ann. Heyyyy Uncle Father Oscar. Everybody dance… NOW. You're losing blood, aren't you? Gob: Probably, my socks are wet. Waiting for the Emmys. BTW did you know won 6 Emmys and was still canceled early by Fox? COME ON. What about macaroni – let me finish – salad?

I don't care if it takes from now till the end of Shrimpfest. Michael was concerned that he was caught in a lie about his family. The family was concerned that they were being confronted by a woman they had clubbed, drugged, and left on a bench.

Steve Holt? The moron jock? One of the guys told me to take my head out of my BOTTOM and get back to work…my BOTTOM! Hahahaha. You just grab that brownish area by its points and you don't let go no matter what your mother tells you! Hey, Dad. Look at you. You're a year older…and a year closer to death. Buster: Oh yeah, I guess that's kind of funny.

For there's a man inside me, and only when he's finally out, can I walk free of pain. Annhog's coming? ♪♪ It ain't easy being white… ♪♪ If you don't start pulling your weight around here its going to be shape up, or…ship up. Perhaps an attic shall I seek. I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly away from your feelings? Dead Dove DO NOT EAT. You might wanna lean away from that fire since you're soaked in alcohol.

What about macaroni – let me finish – salad? I've made a huge tiny mistake. I made a huge tiny mistake. Perhaps an attic shall I seek. I should be in this Poof.

I was hoping he would be gifted sexually. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. Happy. It's a wonderful restaurant! Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Teamocil.

Got a big ass room at the travelodge. What a fun, sexy time for you. [Stabbing Gob] White power! Gob: I'm white! This is not what it looks like. It looks like you're tweaking her nipples through a chain-link fence. Mister gay is bleeding! Mister gay! I should be in this Poof. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.

Coo coo ca chaw. Coo coo ca chaw. Coo coo ca chaw. I'll have a vodka rocks. (Mom, it's breakfast time.) And a piece of toast. Let me take off my assistant's skirt and put on my Barbra-Streisand-in-The-Prince-of-Tides ass-masking therapist pantsuit. Are you aware of this? Coming soon. Indeed. Oh, hi, Mom. I have the afternoon free. Really? Did "nothing" cancel? Bob Loblaw Lobs Law Bomb. Annyong.

Oh, like when they say "poofter" to mean "tourist", yes. Actually, that was a box of Oscar's legally obtained medical marijuana. Primo bud. Real sticky weed. ♪♪ Somewhere… over the rainbow… there's another rainbow… ♪♪ And I am rock steady. No more dizzies. It's ok. You be with Yam. Chaw-chee, chaw-chee chaw-chee! Coo coo ca cha! Ah coodle doodle do Caw ca caw, caw ca caw. Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror.

I prematurely shot my wad on what was supposed to be a dry run, so now I'm afraid I have something of a mess on my hands. What's gotten into you? Have you been eating cheese? Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. And I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Go ahead, touch the cornballer. It's ok. You be with Yam.

I just don't want him to point out my cracker ass in front of Ann. Heyyyy Uncle Father Oscar. Everybody dance… NOW. You're losing blood, aren't you? Gob: Probably, my socks are wet. Waiting for the Emmys. BTW did you know won 6 Emmys and was still canceled early by Fox? COME ON. What about macaroni – let me finish – salad?

I don't care if it takes from now till the end of Shrimpfest. Michael was concerned that he was caught in a lie about his family. The family was concerned that they were being confronted by a woman they had clubbed, drugged, and left on a bench.

Steve Holt? The moron jock? One of the guys told me to take my head out of my BOTTOM and get back to work…my BOTTOM! Hahahaha. You just grab that brownish area by its points and you don't let go no matter what your mother tells you! Hey, Dad. Look at you. You're a year older…and a year closer to death. Buster: Oh yeah, I guess that's kind of funny.

For there's a man inside me, and only when he's finally out, can I walk free of pain. Annhog's coming? ♪♪ It ain't easy being white… ♪♪ If you don't start pulling your weight around here its going to be shape up, or…ship up. Perhaps an attic shall I seek. I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly away from your feelings? Dead Dove DO NOT EAT. You might wanna lean away from that fire since you're soaked in alcohol.

What about macaroni – let me finish – salad? I've made a huge tiny mistake. I made a huge tiny mistake. Perhaps an attic shall I seek. I should be in this Poof.

I was hoping he would be gifted sexually. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. Happy. It's a wonderful restaurant! Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Teamocil.

Got a big ass room at the travelodge. What a fun, sexy time for you. [Stabbing Gob] White power! Gob: I'm white! This is not what it looks like. It looks like you're tweaking her nipples through a chain-link fence. Mister gay is bleeding! Mister gay! I should be in this Poof. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.

Coo coo ca chaw. Coo coo ca chaw. Coo coo ca chaw. I'll have a vodka rocks. (Mom, it's breakfast time.) And a piece of toast. Let me take off my assistant's skirt and put on my Barbra-Streisand-in-The-Prince-of-Tides ass-masking therapist pantsuit. Are you aware of this? Coming soon. Indeed. Oh, hi, Mom. I have the afternoon free. Really? Did "nothing" cancel? Bob Loblaw Lobs Law Bomb. Annyong.

</div>