<div>
  <h1>Services</h1>
</div>
<div class="user-details">
  <h3>Software Testing</h3>
  <p><strong>Definition:</strong> Software testing is the process of evaluating a system to check if it satisfies
    its business requirements, measuring its quality in terms of attributes such as correctness, completeness,
    usability, and performance.</p>
  <p><strong>Why Testing is Required:</strong> Testing is essential to provide assurance to stakeholders that the
    software works as intended, avoid reputation damage due to defects, reduce costs by detecting issues early,
    save development time, and bring a different perspective to product development.</p>
</div>



<div class="user-details">

  <p>
    I offer seasonal, contract, consultation, and freelance services as a QA analyst. I specialize in utilizing various
    static and dynamic test design techniques.
    My expertise encompasses the following key areas:
  </p>


  <ul>
    <li>
      <strong>Test Planning and execution</strong>
      <br>
      I create comprehensive test plans and test scenarios derived from use cases, helping ensure end-to-end testing.
    </li>
    <li>
      <strong>Defect Management</strong>
      <br>
      I identify and report bugs and defects detected during testing, including a
      thorough description of the issue.
    </li>
    <li>
      <strong>Documentation and Reporting</strong>
      <br>
      I maintain test documentation, including test plans, test
      cases,test reports and provide test metrics.
    </li>
    <li>
      <strong>User Acceptance Testing (UAT)</strong>
      <br>
      I execute User Acceptance Testing to ensure the compliance of end-users' requirements.
    </li>
    <li><strong>Ad-hoc Testing</strong> <br> I perform ad-hoc testing to identify issues quickly in less structured
      scenarios.</li>
    <ul>
      <li><strong>Types of testing</strong></li>
      <ul>
        <li>Manual testing</li>
        <li>Dynamic testing</li>
        <li>Functional Testing</li>
        <li>Regression Testing</li>
        <li>Usability Testing</li>
        <li>Accessibility Testing</li>
        <li>Compatibility Testing</li>
        <li> Performance Testing</li>
        <li>API Testing</li>
        <li>Mobile App Testing</li>
        <li>Automation Testing</li>
      </ul>

      <li><strong>Levels of testing</strong></li>
      <ul>
        <li>Unit testing</li>
        <li>Integration testing</li>
        <li>System testing</li>
        <li>Acceptance testing</li>
      </ul>
    </ul>
  </ul>

  <div class="user-details">
  <h3>Why Choose Me</h3>
  <p><strong>Extensive Experience:</strong> 5 years of hands-on experience in software development and QA engineering.
  </p>
  <p><strong>Customized Solutions:</strong> Tailored approaches to suit unique project requirements.</p>
  <p><strong>Efficiency:</strong> Personalized faster results without compromising quality.</p>
  <p><strong>Clear Communication:</strong> Open and effective communication throughout the testing cycle.</p>
  <p><strong>Bilingual:</strong> I can communicate in Spanish, English and Spanglish interchangeably.</p>

  <p>As an independent QA Engineer, I am dedicated to delivering top-quality results, whether launching a new
  application, updating existing software, or seeking to enhance its performance. Tell me your needs, receive a quote,
  and explore how I can contribute to your project's success.</p>
</div>


<div class="user">
  <div class="tech">
    <h2>Quality <br> Assurance</h2>
    <h3> Testing software</h3>
    <i class="fa fa-desktop"></i>
    <i class="devicon-apple-original"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="fa fa-sitemap"></i>
    <i class="devicon-jira-plain-wordmark colored"></i>
          
  </div>
  <div class="tech">
    <h2>Accessibility Technology</h2>
    <h3> Compliance advise</h3>
    
    <i class="fa fa-universal-access" aria-hidden="true"></i>
    <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
    <i class="fa fa-edge"></i>
    <i class="devicon-chrome-plain-wordmark colored"></i>
    
    <i class="devicon-safari-plain-wordmark colored"></i>
          
    <i class="devicon-firefox-plain-wordmark colored"></i>
          
          
  </div>
  <div class="tech">
    <h2>Software Development</h2>
    <h3> Programming experience</h3>
    <i class="devicon-selenium-original colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-pytest-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    
    <i class="devicon-java-plain-wordmark colored"></i>
          
    <i class="devicon-filezilla-plain-wordmark colored"></i>
          
    <i class="devicon-wordpress-plain-wordmark colored"></i>
    
    <i class="devicon-discordjs-plain-wordmark colored"></i>
          
  </div>
</div>