#about {
  font-size: 120%;
  
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }
}

.tech {
  margin: 10px;
  flex: 1 1 0;
  h2, h3 {
    font-weight: 400;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: left;
  margin: 5px auto;
  h1 {
    font-weight: 400;
  }
}



.user-about-profile {
  margin: 5px auto;
  display: flex;
  h1 {
    font-weight: 400;
  }
  flex-direction: column;
  @media only screen and (min-width: $cut) {
    flex-direction: row-reverse;
  }
  img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }
}


.contents-left-profile {
  justify-content: center;
  align-items: center;
}

.contents-right-profile {
  display: inline;
  justify-content: center;
  align-items: center;
}

.images-right-profile { 
  border-radius: 50%;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
  }
}
