@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  color: #555;
  background-color: white;
  z-index: 1000;
  font-family: "Antic Slab", serif;
  font-weight: 400;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, stong {
  margin-top: 1em;
  padding-top: 1em;
  line-height: 1.25;
  color: #333;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

p, figure {
  margin: 1em 0;
}

a img {
  border: none;
}

sup, sub {
  line-height: 0;
}
@keyframes pulse {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
  50% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
    top: -10px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
}
#particles-js {
  background: #1a222c;
  display: flex;
  vertical-align: bottom;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#particles-js .particles-js-canvas-el {
  height: 100vh !important;
}

.header {
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.header .site-title {
  font-size: 50px;
  display: block;
  line-height: 1;
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .header .site-title {
    margin: 0;
    font-size: 76px;
  }
}
.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: #FFF;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .header .site-description {
    font-size: 34px;
  }
}

.header-links {
  margin: 10px;
}
.header-links .link {
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  .header-links .link {
    font-size: 20px;
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-icons a {
  outline: 0 !important;
  border: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  padding: none;
  margin: none;
}
.header-icons .icon {
  text-align: center;
  color: #FFF;
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #FFF;
  transition: all 0.5s;
}
.header-icons .icon:hover {
  color: #1a222c;
  background: #FFF;
}
.header-icons .icon:active {
  color: #1a222c;
  background: #FFF;
}
@media only screen and (min-width: 768px) {
  .header-icons .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  outline: 0 !important;
  border: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
}
.down .icon {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  fill: #fff;
  animation: pulse 1.3s infinite;
}
.down .icon:hover {
  color: #4B5664;
}
.down .icon:active {
  color: #4B5664;
}

#particles-js-nav {
  background: #1a222c;
  display: flex;
  vertical-align: bottom;
  min-height: 7vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#particles-js-nav .particles-js-canvas-el {
  height: 7vh !important;
}

.navigation-bar {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  color: #FFF;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: transparent;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 30px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}
.menu a {
  text-decoration: none;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  list-style: none;
  background-color: #1a222c;
  padding: 0 0 30px 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  /*display: block; default is none*/
  display: none;
  border-radius: 8px;
  border-top-left-radius: 0px;
  margin-top: 35px;
  top: 0px;
  left: 0;
  z-index: 1;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  border-radius: 8px;
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:first-child {
  border-top-left-radius: 0px;
}

.dropdown li:focus-within,
.dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.services:hover .dropdown {
  display: block;
  transition: 0.9s ease;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #1a222c;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:focus-within,
  .menu li:hover {
    display: block;
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0px;
    border-radius: 5px;
  }
  .dropdown li {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
  }
  .dropdown li:first-child {
    margin-top: 10px;
    border-radius: 5px;
  }
}
#about {
  font-size: 120%;
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
}
@media only screen and (min-width: 768px) {
  #about {
    width: 80%;
  }
}
#about svg {
  width: 60px !important;
  height: auto;
}

.tech {
  margin: 10px;
  flex: 1 1 0;
}
.tech h2, .tech h3 {
  font-weight: 400;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user p {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .user {
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: left;
  margin: 5px auto;
}
.user-details h1 {
  font-weight: 400;
}

.user-about-profile {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}
.user-about-profile h1 {
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .user-about-profile {
    flex-direction: row-reverse;
  }
}
.user-about-profile img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.contents-left-profile {
  justify-content: center;
  align-items: center;
}

.contents-right-profile {
  display: inline;
  justify-content: center;
  align-items: center;
}

.images-right-profile {
  border-radius: 50%;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-right-profile img {
  display: block;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #projects {
    width: 80%;
  }
}

.user-projects {
  margin: 20px auto;
}
.user-projects img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.user-projects h5 {
  margin: 0;
}
.user-projects li {
  color: #1a222c;
  font-size: 1.1rem;
}
.user-projects p {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .contents {
    margin-left: 0;
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  .contents-right {
    float: right;
    margin-top: -5%;
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  .images-right {
    float: right;
    width: 48%;
  }
}
@media only screen and (min-width: 768px) {
  .images-right img {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .images-left {
    float: left;
    width: 48%;
  }
}
@media only screen and (min-width: 768px) {
  .images-left img {
    float: left;
  }
}

.project-link {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px;
  color: #1a222c;
  background-color: transparent;
  border: 1px solid #1a222c;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.project-link:hover {
  background-color: #54516A;
  border-color: #54516A;
  color: #fff;
  transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}
.project-link:active {
  background-color: #54516A;
  border-color: #54516A;
  color: #fff;
  transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.footer {
  background: #1a222c;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
}
.footer .love {
  color: red;
}
.footer a {
  text-decoration: none;
  margin: 0;
  color: #FFF;
}
.footer a:hover {
  color: #4B5664;
}
.footer a:active {
  color: #4B5664;
}