---
layout: default
---
{% include navigation-bar.html %}
<main id="main-content">
  {% include header.html %}
  <div class="page-content">
    <section id="about" aria-labelledby="about-title">
      {% include about.html %}
    </section>
    <section id="career" aria-labelledby="career-title">
      {% include career.html %}
    </section>
    <section id="skills" aria-labelledby="skills-title">
      {% include services.html %}
    </section>
    <section id="projects" aria-labelledby="projects-title">
      {% include projects.html %}
    </section>
    <section id="writing" aria-labelledby="writing-title">{% include recent-posts.html %}</section>
    <section id="contact" aria-labelledby="contact-title">
      {% include contact.html %}
    </section>
  </div>
  {{ content }}
</main>
